<%= form_with(model: message_status) do |form| %>
  <% if message_status.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(message_status.errors.count, "error") %> prohibited this message_status from being saved:</h2>

      <ul>
        <% message_status.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
